<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Instructions</title>
    <link href="{% static 'css/student/bootstrap.min.css' %}" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->

      <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!--Add materialize libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

</head>
<body>
<div class="container ">
    <form style="float:right" method="post" action="{% url 'test_start' test.id %}">
        {% csrf_token %}
      <ul class="collection with-header ">
          <div class="card-panel blue lighten-3">
          <li class="collection-header blue lighten-3"><h4>Please read these instructions carefully</h4></li>

          <li class="collection-item ">A candidate who breaches any of the Examination Regulations will be liable to disciplinary action.</li>
          <li class="collection-item ">Examinations will be conducted during the allocated times shown in the examination timetable.</li>
          <li class="collection-item ">Candidates are not permitted to bring mobile phones into the examination hall</li>
          <li class="collection-item ">The questionpaper consists of {{test.question.count}} questions to be attempted in {{test.duration}} minutes.</li>
          <li class="collection-item s">The test has a maximum score of {{test.max_marks}} marks.</li>
          <li class="collection-item ">grade</i>Every correct answer will get {{test.pos_mark}} mark.
              There will be a negative marking where {{test.neg_mark}} marks will be deducted for each wrong answer.
              No marks will be deducted for unanswered question</li>
          <li class="collection-item ">Only one question will be dispayed on the screen at a time .
              To attempt next question the candidate shoud click on next question or to go back click on previous question.</li>
          <li class="collection-item ">There is a TIMER available on the TOP RIGHT CORNER of your screen.
                Candidate is requested to keep an eye on it for knowing the time remaining for completion of the exam</li>
            <li class="collection-item ">
                <input type="checkbox" id="test5" required=""/>
                <label for="test5" >I agree to terms and conditions</label>
        </li>
          </div>
      </ul>
    
        <!--<input type="hidden" name="qtn_no" value=0>-->
        <input type="submit" class="testbtn" value="Continue" style="float:right">
    </form>

</div>

</body>
</html>
