<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/student/style.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/student/demo.css' %}" media="all" />

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/faculty/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/faculty/materialize.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/student/materialize.min.js' %}"></script>
</head>
<body>
<br>

<div class="container">
<div class="card grey lighten-3">
    <div class="card-content black-text">
        <h2><b>{{user.first_name}}</b></h2>
        <div class="row">

            <form class="col s12" id="contactform" action="{% url 'edit_profile' %}" method="post">
                {% csrf_token %}
                <h5>Please enter your education qualification details below.</h5><br>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate"  name="first_name" placeholder="First" value="{{user.first_name}}">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" name="last_name" placeholder="Last" value="{{user.last_name}}">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input  value="{{user.email}}" id="disabled" type="email" class="validate" name="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="birthdate" type="date" name="dob" class="validate" value="{{student.dob|date:"d-m-Y"}}">
                        <label for="birthdate">Birthdate</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="phone" name="phone" placeholder="phone number" required="" type="text" value="{{student.phone}}">
                        <label for="phone">Phone Number</label>
                    </div>

                    <div class="input-field col s6">
                        <select name="gender">
                            <option value="" disabled>Gender</option>
                            <option value="M" selected="selected">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Others</option>
                        </select>
                        <label>Gender</label>
                    </div>
                </div>
                <h4>UG Details:</h4>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="colg" type="text" class="validate" name="college" value="{{education.college}}">
                        <label for="colg">College Name</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="score" type="number" class="validate" name="percentage" value="{{education.percentage}}">
                        <label for="score" >Percentage</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="start_year" type="number" class="validate" name="start_year" value="{{education.start_year}}">
                        <label for="start_year">Start Year</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="end_year" type="number" class="validate" name="end_year" value="{{education.end_year}}">
                        <label for="end_year" >End Year</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="degree" name="degree" placeholder="ex. B.Tech" value="{{education.degree}}">
                        <label for="degree">Degree</label>
                    </div>
                </div>

                <input class="btn" name="submit" id="submit" tabindex="5" value="Submit" type="submit">
            </form>
        </div>
    </div>
</div>
</div>
<div class="fixed-action-btn" style="right: 50px; bottom: 50px;">
    <a href="{% url 'dashboard' %}" class="btn-floating btn-large blue lighten-2 waves-effect waves-light">
        <i class="large material-icons">chevron_left</i>
    </a>
</div>



<!--<h1 style="margin-left: 20%"><b>{{user.first_name}}</b></h1><br>-->
<!--<div class="form">-->
    <!--<p style="margin-left: 40px">Please enter your education qualification details below.</p><br>-->
    <!--<form id="contactform" action="{% url 'edit_profile' %}" method="post">-->
        <!--{% csrf_token %}-->
        <!--<p class="contact"><label for="name">Name</label></p>-->
        <!--<input id="first_name" name="first_name" placeholder="First name" required="" tabindex="1" type="text" value="{{user.first_name}}">-->

        <!--<p class="contact"><label for="name">Name</label></p>-->
        <!--<input id="last_name" name="last_name" placeholder="Last name" tabindex="2" type="text" value="{{user.last_name}}">-->

        <!--<p class="contact"><label for="email">Email</label></p>-->
        <!--<input id="email" name="email" placeholder="example@domain.com" required="" type="email" value="{{user.email}}">-->
        <!--<br>-->
        <!--<label>Birthday</label>-->
        <!--<input type="date" name="dob" placeholder="YYYY-MM-DD" value="{{student.dob}}">-->

        <!--<select class="select-style gender" name="gender">-->
            <!--<option value="select">Gender</option>-->
            <!--<option value="M">Male</option>-->
            <!--<option value="F">Female</option>-->
            <!--<option value="O">Other</option>-->
        <!--</select><br><br>-->
        <!--<p>UG Details:</p>-->
        <!--<label>College Name</label><input type="text" name="college" value=""><br>-->
        <!--<label>Final Grade</label><input type="number" name="percentage" placeholder="In percentage"><br>-->
        <!--<fieldset>-->
            <!--<label>Start year</label><input type="number" name="start_year" placeholder="ex: 2010">-->
            <!--<label>End year</label><input type="number" name="end_year" placeholder="ex: 2014"><br>-->
        <!--</fieldset>-->
        <!--<label>Degree</label><input type="text" name="degree" placeholder="ex. B.Tech"><br>-->
        <!--<p class="contact"><label for="phone">Mobile phone</label></p>-->
        <!--<input id="phone" name="phone" placeholder="phone number" required="" type="text" value="">{{student.phone}} <br>-->
        <!--<input class="button" name="submit" id="submit" tabindex="5" value="Submit" type="submit">-->
    <!--</form>-->
<!--</div>-->
</body>
</html>
