<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Student Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/student/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/student/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'css/student/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/student/startmin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/student/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/student/font-awesome.min.css' %} " rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/faculty/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/faculty/materialize.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/student/materialize.min.js' %}"></script>
    <!--<script>-->
        <!--function viewPerformance(){-->
            <!--testContent = document.getElementById("tests");-->
            <!--performanceContent = document.getElementById("performance");-->
            <!--testContent.style.display = "none";-->
            <!--performanceContent.style.display = "block";-->
        <!--}-->
    <!--</script>-->
</head>
<body>


<ul id="dropdown1" class="dropdown-content">
  <li><a href="{% url 'profile' %}">View Profile</a></li>
    <li class="divider"></li>
  <li><a href="{% url 'change_password' %}">Change Password</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Student Dashboard</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!--<li><a href="{% url 'hod_notif' %}">Notifications</a></li>-->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"  data-beloworigin="true">{{user}}<i class="material-icons right">arrow_drop_down</i></a>
            </li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="side-nav fixed">
    <li><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Menu<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <!--<li><a href="javascript:void(0)" onclick="viewPerformance()">View Performance</a></li>-->
                        <li><a href="{% url 'view_tests' %}">List Test</a></li>
                        <li><a href="#!"></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

    <div id="wrapper">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{% url 'dashboard' %}" class="active"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                    </li>
                    <li>
                        <!--<a href="#"><i class="fa fa-sitemap fa-fw"></i> Menu <span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a id="VPclick" href="javascript:void(0)" onclick="viewPerformance()">View Performance</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    </li>
                </ul>

            </div>
        </div>

    <div class="row" id="tests">
        <div class="col s6 offset-s3">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Upcoming Tests</h4></li>
                {% for test in tests %}
                <div class="tests">
                    {% if test.is_approved == True %}
                    <li class="collection-item">
                        <a href="{% url 'test_instructions' test.id %}" >Round{{ test.id }} {{ test.year }}</a>
                    </li>
                    {% endif %}
                </div>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

<!-- jQuery -->
<script src="{% static 'js/student/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/student/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'js/student/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/student/startmin.js' %}"></script>

</body>
</html>
