<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Begins</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/faculty/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/faculty/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'css/faculty/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/faculty/startmin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/faculty/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/faculty/font-awesome.min.css' %} " rel="stylesheet" type="text/css">
    <style>
    div.main {
        margin-top: 50px;
        margin:0 auto;
        width: 1000px;
        height: 600px;
        background-color: white;
        box-shadow: 10px 10px 5px #888888;
    }

    body {font-family: "Lato", sans-serif;
    background-color: #cfeae3;}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
    </style>
    <script>
      function loadQuestionTab()
      {
          document.getElementById({{question_id}}).style.display = "block";
          document.getElementById('tablink{{question_id}}').className += " active";
      }
    
	    function openQuestion(evt, questionID)
	    {
			    var i, tabcontent, tablinks;
			    tabcontent = document.getElementsByClassName("tabcontent");
			    for (i = 0; i < tabcontent.length; i++) {
			        tabcontent[i].style.display = "none";
			    }
			    tablinks = document.getElementsByClassName("tablinks");
			    for (i = 0; i < tablinks.length; i++) {
			        tablinks[i].className = tablinks[i].className.replace(" active", "");
			    }
			    document.getElementById(questionID).style.display = "block";
			    evt.currentTarget.className += " active";
	    }
	    
	    function flagForm(id)
	    {
	      document.getElementById("flag").value="1";
	      document.getElementById("question_id").value=id;
	      document.form.submit();
	    }
	    
	    function submitForm(id)
	    {
	      document.getElementById("question_id").value=id;
	      document.form.submit();
	    }

	    function endtestForm(id)
	    {
	      window.location.href = "{% url 'dashboard' %}";
	    }
    </script>
</head>
<body onload="loadQuestionTab();">
<div class="main">
    <h1 align="center">Round {{test.id}}, {{test.year}}</h1>
    <br>

    <ul class="tab">
    {% for question in questions %}
	    {% if question.flag == 2 %}
	      <li style="background-color:green"><a id="tablink{{forloop.counter}}" href="javascript:void(0)" class="tablinks">{{forloop.counter}}</a></li>
	    {% elif question.flag == 1%}
        <li style="background-color:orange"><a id="tablink{{forloop.counter}}" href="javascript:void(0)" class="tablinks" onclick="openQuestion(event, {{forloop.counter}})">{{forloop.counter}}</a></li>
        {% else %}
        <li><a id="tablink{{forloop.counter}}" href="javascript:void(0)" class="tablinks" onclick="openQuestion(event, {{forloop.counter}})">{{forloop.counter}}</a></li>
	    {% endif %}
    {% endfor %}
    </ul>
	
		<form name="form" action="{% url 'submit_question' %}" method="post">
			{% csrf_token %}
				<input name="flag" id="flag" type="hidden" value="0"/>
				<input name="question_id" id="question_id" type="hidden" value="0"/>
        {% for question in questions %}
					<div id="{{ forloop.counter }}" class="tabcontent">
            <h3>{{question.question.question}}</h3>
                <ol>
                {% for choice in question.question.choice.all %}
                    {% if question.flag == 1%}
                        {% if question.flagged_choice.id == choice.id %}
                        <li>
                        <input type="radio" name="choice_{{question.question.id}}" value="{{choice.id}}" required="" checked="checked">{{choice}}
                        </li>
                        {% else %}
                        <li>
                        <input type="radio" name="choice_{{question.question.id}}" value="{{choice.id}}" required="">{{choice}}
                        </li>
                        {% endif %}
                    {% else %}
                        <li>
                        <input type="radio" name="choice_{{question.question.id}}" value="{{choice.id}}" required="">{{choice}}
                        </li>

                    {% endif %}
                {% endfor %}
                </ol><br>
	            <button style="float:right" class="testbtn" onclick="return submitForm({{question.question.id}});">Submit</button>
	            <button style="float:right" class="testbtn" onclick="return flagForm({{question.question.id}});">Flag</button>
                <button style="float:right" class="testbtn" onclick="return endtestForm({{question.question.id}});">End Test</button>
					</div>
        {% endfor %}
		</form>
</div>
</body>
</html>
