<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Questions</title>
    <link href="{% static 'css/faculty/bootstrap.min.css' %}" rel="stylesheet">
    <!--&lt;!&ndash;Import Google Icon Font&ndash;&gt;-->
    <!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
      <!--&lt;!&ndash;Import materialize.css&ndash;&gt;-->

      <!--&lt;!&ndash;Let browser know website is optimized for mobile&ndash;&gt;-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->

    <!--&lt;!&ndash;Import jQuery before materialize.js&ndash;&gt;-->
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->

    <!--&lt;!&ndash;Add materialize libraries &ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <!--&lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet"-->
          <!--href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">-->

    <!--&lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>-->

    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
          <!--rel="stylesheet">-->
</head>
<body>

<h1>Round {{ test.id }}</h1>
<ul class="collapsible popout" data-collapsible="accordion">
{% for questions in questions_list %}
        <h2>{{questions.0.topic}}</h2>
        {% for question in questions %}
        <table class="striped">
            <tbody>
                <div class="collapsible-header ">
                    <td>
                    <a style="color:black" href="{% url 'new_question' test.id %}" class='dropdown-button' data-activates='dropdown1'>Q{{ forloop.counter }}. {{ question.question }}</a> &nbsp;&nbsp; <a href="{% url 'delete_question' test.id question.id %}">Remove</a>
                    </td>
                </div>
            </tbody>
        </table>
        <div  id='dropdown1' class='dropdown-content'>
            {% for choice in question.choice.all %}
                <li>{{ choice }}</li>
            {% endfor %}
            <br><br>
        {% endfor %}
        </div>
    <br>
{% endfor %}
</ul>


<div class="box" style="margin-left: 3%; margin-top: 3%">
    {% if test.is_approved == False %}
        <a class="testbtn" href="#popup2">Add Question</a>
        {% if hod == False %}
            <a class="testbtn" href="{% url 'submit_test' %}">Submit to HOD</a>
        {% else %}
            <a class="testbtn" href="{% url 'submit_test' %}">Submit</a>
        {% endif %}
    {% endif %}
</div>
<form action="{% url 'view_question'%}" method="post">
    {% csrf_token %}
    <div id="popup2" class="overlay">
                <div class="popup">
                    <ul class="form-style-1">
                    <li>
                        <label>Question:</label>
                        <textarea name="question" id="question" class="field-divided">
                        </textarea>
                    </li>
                        <a class="close" href="#">&times;</a>
                    <li>
                        <label>Question Topic:</label>
                            <select name="topic">
                                {% for topic in topics %}
                                <option value="{{topic}}">{{topic}}</option>
                                {% endfor %}
                            </select>
                    </li>

                        <label>Option 1:</label>
                        <input type="text" name="opt1" class="field-divided"><input type="radio" name="rb" value="1"/>
                    </li>
                    <li>
                        <label>Option 2:</label>
                        <input type="text" name="opt2" class="field-divided"><input type="radio" name="rb" value="2"/>
                    </li>
                    <li>
                        <label>Option 3:</label>
                        <input type="text" name="opt3" class="field-divided"><input type="radio" name="rb" value="3"/>
                    </li>
                    <li>
                        <label>Option 4:</label>
                        <input type="text" name="opt4" class="field-divided"><input type="radio" name="rb"  value="4"/>
                    </li>
                        <input type="hidden" name="id" value="{{test.id}}">
                    <li>
                        <fieldset>
                            <input type="submit" name="add_next" value="Submit and Add Next" class="testbtn">
                            <input type="submit" name="finish" value="Finish" class="testbtn">
                        </fieldset>
                    </li>
                </ul>
                </div>
 </div>
</form>



</body>
</html>
