<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Faculty Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/faculty/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/faculty/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'css/faculty/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/faculty/startmin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/faculty/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/faculty/font-awesome.min.css' %} " rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/faculty/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/faculty/materialize.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/student/materialize.min.js' %}"></script>
    <!--Import Google Icon Font-->


</head>
<body>

<ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'profile' %}">View Profile</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'change_password' %}">Change Password</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Faculty Dashboard</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'hod_notif' %}">Notifications</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"  data-beloworigin="true">{{user}}<i class="material-icons right">arrow_drop_down</i></a>
            </li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="side-nav fixed">
    <li><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Menu<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <!--<li><a href="#popup1">Create Test</a></li>-->
                        <li><a href="{% url 'view_tests' %}">List Test</a></li>
                        <li><a href="#!">View Students</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<div class="row">
    <div class="col s6 offset-s3">
        <ul class="collection with-header">
            <li class="collection-header"><h4>All Test</h4></li>
            {% for test in tests %}
            <div class="tests">
                <li class="collection-item">
                    <a href="{% url 'new_question' test.id %}" >Round{{ test.id }} {{ test.year }}</a>
                </li>
            </div>
            {% endfor %}
        </ul>
        <!--<div class="box" style="margin-top: 20px">-->
            <!--<a class="testbtn" href="#popup1">New Test</a>-->
        <!--</div>-->
    </div>
</div>

<!--<div id="popup1" class="overlay">-->
    <!--<div class="popup">-->
        <!--<form action="{% url 'test' %}" method="post">-->
            <!--{% csrf_token %}-->
            <!--<ul class="form-style-1">-->
                <!--<li>-->
                    <!--<label>Year:</label>-->
                    <!--<input type="text" name="year" id="year" class="field-divided"/>-->
                <!--</li>-->
                <!--<a class="close" href="#">&times;</a>-->

                <!--<li>-->
                    <!--<label>Weightage( out of ) </label>-->
                    <!--<input type="number" name="weightage" class="field-divided">-->
                <!--</li>-->

                <!--{#                            <li>#}-->
                <!--{#                                <label>Round</label>#}-->
                <!--{#                                #}-->
                <!--{#                            </li>#}-->
                <!--<fieldset>-->
                    <!--<label>Positive Marks: <span class="required">*</span></label>-->
                    <!--<input type="number" name="pos_marks" class="field-divided">-->

                    <!--<label>Negative Marks: <span class="required">*</span></label>-->
                    <!--<input type="number" name="neg_marks" class="field-divided">-->
                <!--</fieldset>-->

                <!--<li>-->
                    <!--<label>Duration of test:</label>-->
                    <!--<input type="text" name="duration" class="field-divided"/><span>minutes</span>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<label>Date of Test:</label>-->
                    <!--<input type="text" name="date" class="field-divided" placeholder="YYYY-MM-DD"/>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<label>Start Time:</label>-->
                    <!--<input type="text" name="time" class="field-divided" placeholder="HH:MM"/>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<input type="submit" value="Save" class="testbtn">-->
                <!--</li>-->
            <!--</ul>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->

<!-- jQuery -->
<script src="{% static 'js/student/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/student/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'js/student/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/student/startmin.js' %}"></script>

</body>
</html>
