<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications of Test Approval by HoD</title>
    <link href="static 'css/faculty/bootstrap.min.css'" rel="stylesheet">
</head>
<body>
<div style="width: 350px; float:left; height: 100px; background-color: #f6efed; margin:20px">
    <p align="center"> Tests to be Approved </p>
    <div id="list2">
   <ol>
       {% for test in tests %}
        {% if test.is_approved == 0 %}
            <a href="{% url 'view_ifapproved' test.id %}" ><li><p><em>Round{{ test.id }} {{ test.year }}</em></p></li></a>
        {% endif %}
       {% endfor %}
   </ol>
</div>
</div>

<div style="width: 350px; float:left; height: 100px; background-color: #f6efed; margin-left:150px; margin-top: 20px;">
    <p align="center"> Approved Tests</p>
    {% for test in tests %}
        {% if test.is_approved == 1 %}
            <a href="{% url 'view_ifapproved' test.id %}" ><li><p><em>Round{{ test.id }} {{ test.year }}</em></p></li></a>
        {% endif %}
       {% endfor %}
</div>

</body>
</html>