<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approved Questions</title>
    <link href="{% static 'css/faculty/list.css' %}" rel="stylesheet">
</head>
<body>
<h1>Round {{ test.id }} {{ test.year }}</h1>
<div style="width: auto; height: auto;">
<ol>
    {% for question in questions %}
    <li>
        {{ question.question }}  &nbsp;&nbsp;&nbsp;&nbsp; {% if question.is_approved == True %} <img src="{% static 'images/right.png' %}" height="15" width="15"> {% else %} <img src="{% static 'images/wrong.png' %}" height="15" width="15"> {% endif %}
        {% for choice in question.choice.all %}
        <ul>
            {% if choice.is_correct == 1 %}
                    <li style="margin-left:10px; color: #00C853">{{ choice }}</li>
                {% else %}
                    <li style="margin-left:10px;" >{{ choice }}</li>
                {% endif %}
        </ul>
        {% endfor %}
    </li>
    <hr style="width: 200px; float:left;"><br>
    {% endfor %}
</ol>
</div>
<div class="box" style="margin-left: 3%; margin-top: 3%">
    <a class="testbtn" href="#popup2">Add Question</a>
    <a class="testbtn" href="{% url 'submit_test' %}">Submit to HOD</a>
</div>
<form action="{% url 'view_question'%}" method="post">
    {% csrf_token %}
    <div id="popup2" class="overlay">
                <div class="popup">
                    <ul class="form-style-1">
                    <li class="qtnlist">
                        <label>Question:</label>
                        <textarea name="question" id="question" class="field-divided">
                        </textarea>
                    </li>
                        <a class="close" href="#">&times;</a>
                    <li class="qtnlist">
                        <label>Question Topic:</label>
                            <select name="topic">
                                <option value="DSA">DSA</option>
                                <option value="CCN">CCN</option>
                                <option value="DBMS">DBMS</option>
                                <option value="WTA">WTA</option>
                            </select>
                    </li>

                        <label>Option 1:</label>
                        <input type="text" name="opt1" class="field-divided"><input type="radio" name="rb" value="1"/>
                    </li>
                    <li class="qtnlist">
                        <label>Option 2:</label>
                        <input type="text" name="opt2" class="field-divided"><input type="radio" name="rb" value="2"/>
                    </li>
                    <li class="qtnlist">
                        <label>Option 3:</label>
                        <input type="text" name="opt3" class="field-divided"><input type="radio" name="rb" value="3"/>
                    </li>
                    <li class="qtnlist">
                        <label>Option 4:</label>
                        <input type="text" name="opt4" class="field-divided"><input type="radio" name="rb"  value="4"/>
                    </li>
                        <input type="hidden" name="id" value="{{test.id}}">
                    <li class="qtnlist">
                        <fieldset>
                            <input type="submit" name="add_next" value="Submit and Add Next" class="testbtn">
                            <input type="submit" name="finish" value="Finish" class="testbtn">
                        </fieldset>
                    </li>
                </ul>
                </div>
    </div>
</form>
</body>
</html>