<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="{% static 'css/change_passwd.css' %}" rel="stylesheet">
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/faculty/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/faculty/materialize.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/student/materialize.min.js' %}"></script>
</head>
<body>
<div class="container">

    <form id="signup" action="{% url 'passwd' %}" method="post">
        {% csrf_token %}
        <div class="header">
            <h3>Change Password</h3>
            <p>Enter new password</p>
        </div>

        <div class="sep"></div>

        <div class="inputs">
            <input type="password" placeholder="Old Password" name="old_pass" required="" autofocus/>
            <input type="password" placeholder="New Password" name="new_pass" required=""/>
            <input type="password" placeholder="Retype Password" required=""/>
            <input id="submit" type="submit" value="Submit">
        </div>

    </form>

</div>
<div class="fixed-action-btn" style="right: 50px; bottom: 50px;">
    <a href="{% url 'dashboard' %}" class="btn-floating btn-large blue lighten-2 waves-effect waves-light">
        <i class="large material-icons">chevron_left</i>
    </a>
</div>
</body>
</html>
