<!DOCTYPE html>
{% load static %}
<html >
  <head>
    <meta charset="UTF-8">
    <title>Online Exam Portal Login</title>

     <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/faculty/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/faculty/materialize.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/student/materialize.min.js' %}"></script>

    <!--Add materialize libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <!--<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>-->
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
  </head>
<body>
  <div class="center-align">
              <h1><b>Online Examination Portal</b></h1>
  </div>

  <!--<script src="{% static 'js/fullscreen.js' %}" />-->

      <!-- Form Module-->
  <!--<div class="module form-module">-->
    <!--<div class="toggle"><i class="fa fa-times fa-pencil"></i>-->
      <!--<div class="tooltip">Click Me</div>-->
    <!---->
    <!--<div class="form">-->
      <!--<h3>This system is an online platform for conducting entrance exam for admission to PhD students at Department of Information Technology, NITK Surathkal.-->
      <!--For any queries please mail us at <a href="mailto:snehassonkere96@gmail.com?Subject=Exam Portal Queries" target="_top">this</a> address.</h3>-->
    <!--</div>-->
    <!--<div class="cta"><a href="#">Forgot your password?</a></div>-->
  <!--</div>-->
  
  <!--<iframe id="main_frame" src="{% url 'login' %}" style="width:100%;height:100%;border:none;display:none"></iframe>-->
<div class="container">
<div class="row " style="margin:10%">
    <div class="center-align" >
        <div class="col s6 offset-s3">
          <div class="card white" style="padding:10%">
            <div class="card-content">
              <span class="card-title blue-text"><b>Login here</b></span></div>
                <form action= "{% url 'signin' %}"  method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="user_name" type="text" class="validate" name="username">
                      <label for="user_name">UserName</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate" name="password">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="card-action">
                    <button class="button waves-effect waves-light btn blue lighten-1 white-text "> LogIn</button>
                  </div>
                  <div class="card-content grey lighten-3">
                    <div><a href="#">Forgot your password?</a></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
