<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approve Test</title>
    <link href="{% static 'css/faculty/hod/hod.css' %}" rel="stylesheet">
</head>
<body>
<h1>Round {{ test.id }}</h1>
<div>
    <form method="post" action="{% url 'save_test' %}">
    {% csrf_token %}
    <ol>
      {% for question in questions %}
        <li class="qtn">
            <p>{{ forloop.counter }}. {{question.question}}</p>
            {% for choice in question.choice.all %}
                {% if choice.is_correct == 1 %}
                    <li class="choice" style="color: #00C853">{{ choice }}</li>
                {% else %}
                    <li class="choice">{{ choice }}</li>
                {% endif %}
            {% endfor %}
            <input name="checks" type="checkbox" value="{{question.id}}">
            <br>
        </li>
        <input type="hidden" name="testid" value="{{test.id}}">
        <hr>
      {% endfor %}
    </ol>
        <input name="aprv_qtn" type="submit" value="Approve Questions" class="testbtn">
        <input name="aprv_test" type="submit" value="Approve Test" class="testbtn">
    </form>

</div>
</body>
</html>